
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Ubuntu:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --back-color: #fff874;
}

body {
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
}

.First-container {
    display: grid;
    grid-template: 160px 300px 80px / 450px;
    justify-content: center;
    align-items: center;
}

.Card-header {
    display: grid;
    grid-template-columns: 90px 1fr;
}

.Card-header .Card-titles {
    display: grid;
    align-items: stretch;
    padding: 5px;
}

.Card-header .Card-titles h1 {
    font-size: 18px;
}

.Card-header .Card-titles h3 {
    font-size: 15px;
}

.Card-header .Card-image {
    justify-self: center;
}

.Card-header .Card-image img {
    width: 70px;
    cursor: pointer;
}

.secon-container {
    display: grid;
    grid-template-rows: 220px 80px;
}

.secon-container .Card-image {
    justify-self: center;
}

.secon-container .Card-image img {
    width: 320px;
}

.secon-container .Card-text p {
    justify-self: center;
    align-self: center;
    font-size: 14px;
    padding: 5px;
}

.Card-footer {
    display: grid;
    grid-template-columns: 70% 1fr;
    justify-items: center;
    align-items: center;
}

.Card-footer .Card-buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: end;
}

.Card-footer .Card-buttons li {
    list-style: none;
}

.Card-footer .social {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: end;
}